<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\neema\AppData\Local\Programs\Python\Python311\python.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
